<!-- Prompt template -->
<h1>Prompt</h1>

<p>{{ prompt }}</p>
<div style="color: #d32f2f; font-weight: bold; margin: 20px 0; text-align: center;">Now recording, hit spacebar when you're done.</div>

{% include "recording_controls.html" with playback=False %}

<form method="post" action="/?run={{ testrun.id }}">
  {% csrf_token %}
  <input type="hidden" name="stage" value="{{ stage.id|default_if_none:'' }}">
  <input type="hidden" id="audio-data" name="audio_data" />
  {% if prompt %}
    <input type="hidden" name="prompt" value="{{ prompt|escapejs }}" />
  {% endif %}
</form>