<!-- Prompt template -->
<h1>Prompt</h1>

<p>{{ prompt }}</p>

{% include "recording_controls.html" with playback=True timed_recording=True %}

<form method="post" action="/?run={{ testrun.id }}">
  {% csrf_token %}
  <input type="hidden" name="stage" value="{{ stage.id|default_if_none:'' }}">
  <input type="hidden" id="audio-data" name="audio_data" />
  {% if prompt %}
    <input type="hidden" name="prompt" value="{{ prompt|escapejs }}" />
  {% endif %}

  <button type="submit">Next</button>
</form>